#main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 40px;
}

#header {
  background: linear-gradient(-70deg, #6a4bbe, #4ea1ff);
  color: white;
  padding: 10px 40px 30px 40px;
  font-size: 30px;
}

#input-container {
  margin-top: -40px;
}

#output-container {
  margin-top: -40px;
  overflow-x: scroll;
}
