#main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 40px;
}

#header {
  background: linear-gradient(-70deg, #6a4bbe, #4ea1ff);
  color: white;
  padding: 50px 40px 90px 40px;
  font-size: 16px;
}

#header h1 {
  font-size: 4em;
  margin-top: 0px;
  margin-bottom: 5px;
}

#input-container {
  margin-top: -40px;
}

#output-container {
  margin-top: -40px;
  overflow-x: scroll;
}

@media (max-width: 575px) {
  #main-container {
    grid-template-columns: 1fr;
  }

  #input-container {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  #header h1 {
    font-size: 3em;
  }
}
