.fancy-input {
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.025) 0 20px 30px;
  transition: 300ms box-shadow;
  display: block;
  cursor: text;
}

.fancy-input:focus-within {
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 30px;
}

.fancy-input:focus-within .fancy-label {
  color: #4ea1ff;
}

.fancy-input .fancy-label {
  color: #cccccc;
  font-size: 0.75em;
  text-transform: uppercase;
  transition: 300ms color;
}

.fancy-input input {
  border: none;
  width: 95%;
  font-size: 1em;
  outline: none;
}
